registry = https://nexus.toprak.tkholding.com.tr/repository/npm-group/
email=toprak@tkholding.com.tr
//nexus.toprak.tkholding.com.tr/repository/npm-group/:_auth=bnBtLXJlYWQ6UVNjd3BmVFFtUlVLOHFkOERVY3RvaQ==